.auth-page {
  .wrapper {
    margin-top: 40px;

    @media (min-width: 576px) {
      .inputs-block {
        width: 346px;
      }
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
      margin-top: 80px;
    }
    @media (min-width: 1400px) {
      margin-top: 155px;
    }
  }

  .right-background {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url('../../assets/images/auth_page_gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .auth-left {
    z-index: 2;
  }

  .logo {
    margin-bottom: 60px;
  }

  .auth-form form {
    display: flex;
    flex-direction: column;
  }

  .auth-form form input {
    // width: 346px;
    height: 58px;
    border-radius: 15px;
    border: none;
    padding: 20px 25px;
    font-size: 24px;
  }

  .auth-form form input::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
  }

  .auth-form form input:first-child {
    margin-bottom: 26px;
  }

  .auth-form .auth-button {
    margin-left: 33px;
    border: none;
    background: none;
  }

  .auth-form .auth-button img {
    float: left;
  }

  .auth-description {
    // width: 370px;
    // height: 145px;
    margin-top: 65px;
  }

  .auth-description p {
    color: #ffffff;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
  }
}
