:root {
    --margin-top: 10px;
    --margin-right: 20px;
    --margin-left: 20px
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: var(--margin-right);
    margin-left: var(--margin-left);
  }
  
  .header-menu {
      display: flex;
      font-size: 30px;
  }
  
  .header-menu-item:not(:last-child) {
      margin-right: 70px;
  }
  
  .header-rightMenu {
    display: flex;
    flex-direction: row;
  }
  
  .header-rightMenu-item:not(:last-child) {
      margin-right: 20px;
  }